*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(11 8 18);
    font-family: Arial, Helvetica, sans-serif;
}
section{
    padding-top: 110px;
    margin-bottom: 300px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(11, 8, 18);
    z-index: 1000; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 70px;
    padding: 0 30px;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 15px;
    margin-left: 15px;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

.menu a:hover {
    border-bottom: 2px solid cyan;
}

.menu .home {
    font-weight: bold;
    color: white;
}

.hero-box{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    margin-top: 80px;
}

.hero-box .txt-left{
    color: white;
    width: 500px;
    height: 337px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    
}

.txt-left h1{
    padding-top: 10px;
}

.txt-left .developer-txt{
    padding-top: 10px;
}

.txt-left p{
    padding-top: 10px;
}

.txt-left .social-media{
    padding-top: 13px;
}

.txt-left .social-media{
    display: flex;
    column-gap: 20px;
}

.txt-left .social-media i{
    font-size: 37px;
    color: white;
    cursor: pointer;
    transition: all ease 0.5s;
}

.txt-left .social-media i:hover{
    color: cyan;
}

.hero-box button{
    padding: 12px;
    width: 125px;
    border-radius: 20px;
    border: none;
    margin-top: 17px;
    background-color: cyan;
    box-shadow: rgba(0, 255, 242, 0.25) 0px 54px 55px, rgba(0, 255, 255, 0.12) 0px -12px 30px, rgba(0, 255, 200, 0.12) 0px 4px 6px, rgba(8, 231, 213, 0.17) 0px 12px 13px, rgba(2, 247, 185, 0.09) 0px -3px 5px;
    cursor: pointer;
    transition: all ease 0.5s;
}

.hero-box button:hover{
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 255, 242, 0.25) 0px 54px 55px, rgba(0, 255, 255, 0.12) 0px -12px 30px, rgba(0, 255, 200, 0.12) 0px 4px 6px, rgba(8, 231, 213, 0.17) 0px 12px 13px, rgba(2, 247, 185, 0.09) 0px -3px 5px;
    cursor: pointer;
}

.hero-box .img-right{
    width: 393px;
    height: 337px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-box .img-right img{
    border-radius: 50%;
    cursor: pointer;
    transition: all ease 0.5s;
    box-shadow: rgba(0, 269, 219, 0.25) 0px -21px 139px, rgba(0, 255, 255, 0.12) 0px -12px 30px, rgba(0, 255, 200, 0.12) 0px 4px 6px, rgba(8, 231, 213, 0.17) 0px 31px 15px, rgba(2, 247, 185, -0.91) 0px -3px 18px;
}

.hero-box .img-right img:hover{
    cursor: pointer;
    box-shadow: rgba(0, 102, 255, 0.12) 0px -21px 139px, rgba(0, 255, 255, 0.12) 0px -12px 30px, rgba(0, 102, 255, 0.12) 0px 4px 6px, rgba(8, 231, 213, 0.17) 0px 31px 15px, rgba(2, 247, 185, -0.91) 0px -3px 18px;
}

.about{
    height: 410px;
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
 .heading{
    color: white;
    font-weight: bold;
    font-size: 35px;
    border-bottom: 2px solid cyan;
    text-shadow:10px 20px 30px cyan; 
 }
 .about .para{
    margin-top: 20px;
    display: flex;
    width: 1000px;
    align-items: center;
    margin-bottom: 60px;
 }
.about p{
    color: white;
    font-size: 25px;
    line-height: 1.5;
}
.about-img{
    width:600px;
    cursor: pointer;
    transition: all ease 0.5s;
    box-shadow: rgba(0, 269, 219, 0.25) 0px -21px 139px, rgba(0, 255, 255, 0.12) 0px -12px 30px, rgba(0, 255, 200, 0.12) 0px 4px 6px, rgba(8, 231, 213, 0.17) 0px 31px 15px, rgba(2, 247, 185, -0.91) 0px -3px 18px;
}

.skill-box {
    height: auto; 
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive grid layout */
    gap: 20px;
    margin-top: 10px;
}
.skill-box h2{
    margin-bottom: 10px;
}
.skill-category {
    text-align: center;
    color: white;
    padding: 20px;
    border: 2px solid cyan;
    border-radius: 10px;
    transition: all ease 0.5s;
}

.skill-category:hover {
    background-color: rgba(0, 255, 255, 0.1);
}

.projects {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 800px; /* number of boxes in a row*/
}

.project {
    width: 300px;
    background-color: rgb(11, 8, 18);
    border: 2px solid cyan;
    border-radius: 10px;
    overflow: hidden;
    transition: all ease 0.5s;
}

.project:hover {
    transform: translateY(-10px);
    box-shadow: 0px 0px 20px rgba(0,255,255,0.5);
}

.project-info {
    padding: 20px;
    text-align: center;
    color: white;
}

.project h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.project p {
    font-size: 18px;
    line-height: 1.5;
}

.contact {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form {
    max-width: 600px;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

label {
    color: white;
    font-size: 18px;
    margin-bottom: 8px;
}

input,
textarea {
    padding: 12px;
    font-size: 16px;
    border: 2px solid cyan;
    border-radius: 5px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 15px;
    background-color: cyan;
    border: none;
    color:black;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: rgb(0, 190, 255);
}

input:focus,
textarea:focus {
    border-color: rgb(0, 190, 255);
    outline: none;
    box-shadow: 0 0 8px rgba(0, 190, 255, 0.6);
}
